

<div class="ui grid">
  <div class="eight wide column">

    <div class="edit">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'ui form'}) do |f| %>
      <%= devise_error_messages! %>
    
    
      <div><%= f.label :店舗名 %><br />
      <%= f.text_field :name %></div>
      
      
      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
    
      <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
        <p>
          <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
        </p>
      <%- end -%>
      
      <div><%= f.label :ジャンル %><br />
      <%= f.text_field :genre %></div>
    
      <div><%= f.label :お問い合わせ %><br />
      <%= f.text_field :contact %></div>
      
      <div><%= f.label :住所 %><br />
      <%= f.text_field :address %></div>
      
      <div><%= f.label :営業時間 %><br />
      <%= f.text_field :sales %></div>
      
      <div><%= f.label :予算 %><br />
      <%= f.text_field :budget %></div>
      
      <div><%= f.label :席数 %><br />
      <%= f.text_field :seat %></div>
      
      <div><%= f.label :喫煙 %><br />
      <%= f.text_field :smoke %></div>
      
      <div><%= f.label :HP %><br />
      <%= f.text_field :web %></div>
      
      <div><%= f.label :備考 %><br />
      <%= f.text_area :remarks %></div>
      
      <div><%= f.label :店舗イメージ動画 %><br />
      <%= f.text_field :instore %></div>
      
      <div><%= f.label :店舗案内動画 %><br />
      <%= f.text_field :guide %></div>
      
      
      <div><%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>
    
      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>
    
      <div><%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i><br />
      <%= f.password_field :current_password %></div><br>
    
      <div><%= f.submit t('.update', :default => "Update"), class: 'ui red button'%></div>
    <% end %>

    </div><br><br>

    <div class="edit">
      <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>
      
      <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br/>
      <%= link_to t('devise.shared.links.back', :default => "Back"), :back %>
    </div>
  </div>
  <div class="eight wide column"></div>
</div>